{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "quotes": [2, "single"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "no-undef": 0,
    "curly": 0,
    "no-console": 0,
    "dot-notation": 0
  }
}
